// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

// $primary: #FFCB9A;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
  width: 400px;
}

// ===spinner===

// .spinner-wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: all 0.2s;
// }

// .spinner-border {
//   height: 60px;
//   width: 60px;
// }

// ===navigation===

.nav-link:hover {
    color: $primary;
}




// ===arrows===
.arrows {
    width: 60px;
    color: $primary;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
  
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }



  
// === footer ===
  .footer_logo {
    width: 430px;
    border-radius: 25px;

  }
